@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 16px;
}
@media screen and (min-width: 767px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

* {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p,
.p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  p,
.p {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  p,
.p {
    font-size: 20px;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6.h6 {
  color: #333333;
}

h1,
.h1,
h2,
.h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6.h6 {
  text-transform: uppercase;
}

.h1,
h1 {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h1,
h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 300;
  }
}
@media screen and (min-width: 1200px) {
  .h1,
h1 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 300;
  }
}

.h2,
h2 {
  font-size: 62px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h2,
h2 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 300;
  }
}
@media screen and (min-width: 1200px) {
  .h2,
h2 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 300;
  }
}

.h3,
h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h3,
h3 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
  }
}
@media screen and (min-width: 1200px) {
  .h3,
h3 {
    font-size: 80px;
    line-height: 1.2;
    font-weight: 300;
  }
}

.h4,
h4 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h4,
h4 {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
  }
}
@media screen and (min-width: 1200px) {
  .h4,
h4 {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 600;
  }
}

.h5,
h5 {
  font-size: 14px;
  line-height: 1.33;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h5,
h5 {
    font-size: 16px;
    line-height: 1.33;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  .h5,
h5 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
  }
}

.h6,
h6 {
  font-size: 12px;
  line-height: 1.67;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .h6,
h6 {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
  }
}
@media screen and (min-width: 1200px) {
  .h6,
h6 {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
  }
}

.text {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 32px;
    line-height: 1.17;
    font-weight: 300;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    font-size: 60px;
    line-height: 1.17;
    font-weight: 300;
  }
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lineMove {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes lineMove {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
[data-inviewport=scale_down] {
  transform-origin: top center;
  transition: 2s;
  transform: scaleY(0.1);
}

[data-inviewport=scale_down].is-inViewport {
  transform-origin: top center;
  transform: scaleY(1);
}

[data-inviewport=scale_up] {
  transform-origin: bottom left;
  transition: 2s;
  transform: scaleY(0.1);
}

[data-inviewport=scale_up].is-inViewport {
  transform-origin: bottom left;
  transform: scaleY(1);
}

[data-inviewport=scale_center] {
  transform-origin: center center;
  transition: 2s;
  transform: scaleY(0.1);
}

[data-inviewport=scale_center].is-inViewport {
  transform-origin: top left;
  transform: scaleY(1);
}

@media screen and (min-width: 992px) {
  .vl_header_light {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #333;
    transform-origin: top center;
    top: auto;
    bottom: 0;
    left: 180px;
    right: auto;
    z-index: -1;
  }
}
.vl_header_bold {
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #333;
  transform-origin: top center;
  top: 0;
  bottom: 0;
  left: 12px;
  right: auto;
}
@media screen and (min-width: 992px) {
  .vl_header_bold {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #333;
    transform-origin: 0 265px;
    top: 0;
    bottom: 0;
    left: 532px;
    right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .vl_header_bold {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #333;
    transform-origin: top center;
    top: 0;
    bottom: 0;
    left: 712px;
    right: auto;
  }
}
@media screen and (min-width: 1400px) {
  .vl_header_bold {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #333;
    transform-origin: top center;
    top: 0;
    bottom: 0;
    left: 690px;
    right: auto;
  }
}
@media screen and (min-width: 1490px) {
  .vl_header_bold {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #333;
    transform-origin: top center;
    top: 0;
    bottom: 0;
    left: 861px;
    right: auto;
  }
}
@media screen and (min-width: 1490px) {
  .vl_header_bold {
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #333;
    transform-origin: top center;
    top: 0;
    bottom: 0;
    left: 891px;
    right: auto;
  }
}
.vl_portfolio_bold {
  position: absolute;
  width: 3px;
  height: 80px;
  background-color: #333;
  transform-origin: bottom center;
  top: 0;
  bottom: 0;
  left: 160px;
  right: auto;
}
@media screen and (min-width: 768px) {
  .vl_portfolio_bold {
    position: absolute;
    width: 4px;
    height: 80px;
    background-color: #333;
    transform-origin: bottom center;
    top: 0;
    bottom: 0;
    left: 235px;
    right: auto;
  }
}
@media screen and (min-width: 992px) {
  .vl_portfolio_bold {
    position: absolute;
    width: 5px;
    height: 245px;
    background-color: #333;
    transform-origin: bottom center;
    top: 0;
    bottom: 0;
    left: 237px;
    right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .vl_portfolio_bold {
    position: absolute;
    width: 5px;
    height: 245px;
    background-color: #333;
    transform-origin: bottom center;
    top: 0;
    bottom: 0;
    left: 385px;
    right: auto;
  }
}
.vl_techobsluga {
  position: absolute;
  width: 1px;
  height: 400px;
  background-color: #fff;
  transform-origin: bottom center;
  top: auto;
  bottom: 192px;
  left: 16px;
  right: auto;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .vl_techobsluga {
    bottom: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .vl_techobsluga {
    height: 100px;
    bottom: auto;
    top: 0;
  }
}
.vl_why_us {
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: #333;
  transform-origin: top center;
  top: 31px;
  bottom: auto;
  left: 73px;
  right: auto;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .vl_why_us {
    top: 10px;
    left: 74px;
    width: 2px;
  }
}
@media screen and (min-width: 992px) {
  .vl_why_us {
    left: 128px;
    top: 14px;
    width: 4px;
    height: 450px;
  }
}

.btn_round {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 210px;
  height: 210px;
}
.btn_round::before {
  content: "";
  border-radius: 999px;
  position: absolute;
  width: 260px;
  height: 260px;
  background: url(img/btn_outter.svg) no-repeat;
  background-size: 100%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@media screen and (min-width: 768px) {
  .btn_round::before {
    width: 370px;
    height: 370px;
  }
}
@media screen and (min-width: 768px) {
  .btn_round {
    width: 285px;
    height: 285px;
  }
}
.btn_big-play::before {
  width: 150px;
  height: 150px;
  background: url(img/btn_outter_dark.svg) no-repeat;
}
@media screen and (min-width: 992px) {
  .btn_big-play::before {
    width: 370px;
    height: 370px;
    background-size: contain;
  }
}

.dashed-line_portfolio {
  width: 1px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  right: 16px;
  top: 1650px;
}
.dashed-line_portfolio line {
  stroke: #999;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_portfolio line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 425px) {
  .dashed-line_portfolio {
    top: 1800px;
    height: 600px;
  }
}
@media screen and (min-width: 556px) {
  .dashed-line_portfolio {
    top: 2100px;
    height: 600px;
  }
}
@media screen and (min-width: 768px) {
  .dashed-line_portfolio {
    top: 2500px;
    height: 600px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_portfolio {
    top: auto;
    bottom: 0;
    right: 90px;
    height: 1500px;
  }
}
.dashed-line_why_us {
  width: 1px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  right: 16px;
  bottom: 0;
  z-index: -1;
}
.dashed-line_why_us line {
  stroke: #999;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_why_us line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-line_why_us {
    right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_why_us {
    right: 100px;
  }
}
@media screen and (min-width: 1490px) {
  .dashed-line_why_us {
    right: 200px;
  }
}
.dashed-line_features {
  width: 1px;
  height: 1000px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 12px;
  top: 100px;
}
.dashed-line_features line {
  stroke: #fff;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_features line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-line_features {
    height: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .dashed-line_features {
    left: 14px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_features {
    top: -100px;
    left: auto;
    right: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-line_features {
    height: 1600px;
  }
}
@media screen and (min-width: 1490px) {
  .dashed-line_features {
    right: 200px;
  }
}
.dashed-line_design_left {
  width: 1px;
  height: 200px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 16px;
  top: 250px;
}
.dashed-line_design_left line {
  stroke: #FCFCFC;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_design_left line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-line_design_left {
    top: 350px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_design_left {
    top: 550px;
    left: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-line_design_left {
    top: 650px;
    left: 400px;
  }
}
@media screen and (min-width: 1490px) {
  .dashed-line_design_left {
    left: 600px;
  }
}
.dashed-line_design_right {
  width: 1px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  right: 16px;
  top: 0px;
}
.dashed-line_design_right line {
  stroke: #FCFCFC;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_design_right line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_design_right {
    top: -100px;
    height: 500px;
  }
}
.dashed-line_callback_white {
  width: 1px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  right: 40px;
  top: 0px;
}
.dashed-line_callback_white line {
  stroke: #fff;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_callback_white line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-line_callback_white {
    right: 120px;
  }
}
@media screen and (min-width: 935px) {
  .dashed-line_callback_white {
    height: 520px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_callback_white {
    height: 900px;
    right: 200px;
  }
}
@media screen and (min-width: 1490px) {
  .dashed-line_callback_white {
    height: 1200px;
    right: 400px;
  }
}
.dashed-line_callback_dark {
  width: 1px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  right: 40px;
  bottom: 0px;
}
.dashed-line_callback_dark line {
  stroke: #333;
  stroke-width: 5px;
  stroke-dasharray: 5, 5;
  stroke-dashoffset: 100;
  -webkit-animation: lineMove 8s linear infinite;
          animation: lineMove 8s linear infinite;
}
@media screen and (min-width: 992px) {
  .dashed-line_callback_dark line {
    stroke-dashoffset: 1000;
    stroke-dasharray: 20, 20;
    -webkit-animation: lineMove 25s linear infinite;
            animation: lineMove 25s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-line_callback_dark {
    right: 120px;
  }
}
@media screen and (min-width: 935px) {
  .dashed-line_callback_dark {
    height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-line_callback_dark {
    right: 200px;
  }
}
@media screen and (min-width: 1490px) {
  .dashed-line_callback_dark {
    right: 400px;
  }
}

.dashed-circle_portfolio {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  right: 16px;
  top: 770px;
}
@media screen and (min-width: 768px) {
  .dashed-circle_portfolio {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-circle_portfolio {
    width: 370px;
    height: 370px;
  }
}
.dashed-circle_portfolio svg {
  width: 100%;
  height: 100%;
  -webkit-animation: spin 40s linear infinite;
          animation: spin 40s linear infinite;
}
.dashed-circle_portfolio circle {
  stroke-width: 1;
  stroke-dasharray: 5, 5;
  fill: none;
  stroke: #999;
}
@media screen and (min-width: 768px) {
  .dashed-circle_portfolio {
    top: 1050px;
  }
}
@media screen and (min-width: 768px) {
  .dashed-circle_portfolio {
    top: 400px;
    right: -50px;
  }
}
@media screen and (min-width: 1500px) {
  .dashed-circle_portfolio {
    top: 300px;
    right: -160px;
  }
}
.dashed-circle_features {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  top: -50px;
  right: 20px;
}
@media screen and (min-width: 768px) {
  .dashed-circle_features {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-circle_features {
    width: 370px;
    height: 370px;
  }
}
.dashed-circle_features svg {
  width: 100%;
  height: 100%;
  -webkit-animation: spin 40s linear infinite;
          animation: spin 40s linear infinite;
}
.dashed-circle_features circle {
  stroke-width: 1;
  stroke-dasharray: 5, 5;
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 575px) {
  .dashed-circle_features {
    right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .dashed-circle_features {
    top: 150px;
    right: auto;
    left: -100px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-circle_features {
    top: 100px;
  }
}
@media screen and (min-width: 1492px) {
  .dashed-circle_features {
    top: 180px;
    left: -170px;
  }
}
.dashed-circle_design {
  display: none;
}
@media screen and (min-width: 575px) {
  .dashed-circle_design {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
    left: 20px;
    top: 50%;
  }
}
@media screen and (min-width: 575px) and (min-width: 768px) {
  .dashed-circle_design {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 575px) and (min-width: 1200px) {
  .dashed-circle_design {
    width: 370px;
    height: 370px;
  }
}
@media screen and (min-width: 575px) {
  .dashed-circle_design svg {
    width: 100%;
    height: 100%;
    -webkit-animation: spin 40s linear infinite;
            animation: spin 40s linear infinite;
  }
}
@media screen and (min-width: 575px) {
  .dashed-circle_design circle {
    stroke-width: 1;
    stroke-dasharray: 5, 5;
    fill: none;
    stroke: rgba(255, 255, 255, 0.8);
  }
}
.dashed-circle_callback {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  top: 70px;
  left: 16px;
}
@media screen and (min-width: 768px) {
  .dashed-circle_callback {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .dashed-circle_callback {
    width: 370px;
    height: 370px;
  }
}
.dashed-circle_callback svg {
  width: 100%;
  height: 100%;
  -webkit-animation: spin 40s linear infinite;
          animation: spin 40s linear infinite;
}
.dashed-circle_callback circle {
  stroke-width: 1;
  stroke-dasharray: 5, 5;
  fill: none;
  stroke: #333;
}
@media screen and (min-width: 992px) {
  .dashed-circle_callback {
    left: 20px;
    top: 100px;
  }
}

@media screen and (min-width: 1490px) {
  .container {
    max-width: 1520px;
  }
}

.mb_60_100 {
  margin-bottom: 60px;
}
@media screen and (min-width: 992px) {
  .mb_60_100 {
    margin-bottom: 100px;
  }
}

.btn {
  padding: 10px 30px;
  font-size: 16px;
  border: 1px solid #333333;
  border-radius: 0;
}
.btn_header {
  font-size: 16px;
  font-weight: 300;
  background: #333333;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -70px;
}
@media screen and (min-width: 768px) {
  .btn_header {
    left: auto;
    right: 100px;
    bottom: -90px;
    font-size: 22px;
  }
}
.btn_play {
  position: absolute;
  width: 32px;
  top: 20px;
  right: 0px;
  border: none;
  border-radius: 50%;
  background: transparent;
}
.btn_big-play {
  background: #897163;
  width: 120px;
  height: 120px;
  border: none;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}
.btn_big-play img {
  transform: translateX(10%);
}
@media screen and (min-width: 992px) {
  .btn_big-play {
    width: 285px;
    height: 285px;
  }
  .btn_big-play img {
    width: 80px;
  }
}

header {
  margin-top: 110px;
}
@media screen and (min-width: 768px) {
  header {
    margin-top: 205px;
  }
}

.header {
  margin-bottom: 20px;
}
.header-1st-row {
  padding: 20px 0 30px;
  border-bottom: 1px solid #999;
}
.header p {
  font-size: 16px;
  line-height: 20px;
}
.header-adress div:first-child {
  margin-right: 50px;
}
.header-adress p {
  margin-right: 10px;
}
@media screen and (min-width: 1440px) {
  .header-callback div:first-child {
    margin-right: 50px;
  }
}
.header-callback p {
  margin-right: 10px;
}
.header-logo {
  width: 190px;
}
@media screen and (min-width: 992px) {
  .header-logo {
    width: 310px;
  }
}

@media screen and (min-width: 992px) {
  .dot {
    width: 5px;
    height: 5px;
    background-color: #333;
    border-radius: 50%;
  }
}

.navbar {
  padding: 20px 0;
  border-bottom: 1px solid #333333;
}
.navbar-brand {
  padding: 0;
}
.navbar_section {
  background: white;
  transition: 1s;
}

.nav-link {
  text-transform: uppercase;
  color: #000;
}
@media screen and (min-width: 992px) {
  .nav-link {
    padding: 0px;
  }
}

.navbar-toggler {
  border: none;
  padding: 0 5px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler span {
  display: block;
  background-color: #333;
  height: 2px;
  width: 55px;
  margin-top: 6px;
  margin-bottom: 6px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center;
}
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: scale(80%, 90%) translateY(8px) rotate(45deg);
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: scale(80%, 90%) translateY(-8px) rotate(-45deg);
}

.banner {
  background: url(img/banner.png) no-repeat center center;
  background-size: cover;
  padding: 0 16px 0;
  color: #fff;
  margin-bottom: 110px;
}
@media screen and (min-width: 768px) {
  .banner {
    margin-bottom: 140px;
  }
}
.banner .container {
  padding: 160px 0 280px;
}
@media screen and (min-width: 992px) {
  .banner .container {
    padding: 300px 0 440px;
  }
}
.banner_arrow {
  left: 0;
  bottom: 50px;
}

.arrow_next_section {
  position: absolute;
  display: none;
  height: 120px;
  width: 16px;
}
@media screen and (min-width: 992px) {
  .arrow_next_section {
    display: block;
  }
}
.arrow_next_section img {
  height: 100%;
}

@media screen and (min-width: 992px) {
  .intro br {
    display: none;
  }
}
.intro_heading {
  font-size: 24px;
  margin: 105px 0 16px;
}
@media screen and (min-width: 992px) {
  .intro_heading {
    margin: 145px 0 100px;
  }
}
@media screen and (min-width: 992px) {
  .intro_row {
    padding-bottom: 140px;
  }
}
.intro_img {
  padding-right: 0;
  margin-right: -12px;
}
.intro_text {
  padding-top: 20px;
  padding-left: 16px;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .intro_text {
    font-size: 40px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  .intro_text {
    font-size: 60px;
  }
}
.intro_r {
  position: relative;
}
@media screen and (min-width: 992px) {
  .intro_r {
    position: static;
  }
}
.intro .text_img {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  z-index: -1;
  height: 125px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .intro .text_img {
    width: 290px;
    height: 320px;
    left: 532px;
  }
}
@media screen and (min-width: 1200px) {
  .intro .text_img {
    left: 712px;
  }
}
@media screen and (min-width: 1400px) {
  .intro .text_img {
    left: 690px;
  }
}
@media screen and (min-width: 1490px) {
  .intro .text_img {
    left: 861px;
  }
}
@media screen and (min-width: 1520px) {
  .intro .text_img {
    left: 891px;
  }
}

.counters .container {
  text-transform: uppercase;
  padding: 24px 16px 50px;
}
@media screen and (min-width: 992px) {
  .counters .container {
    padding: 100px 16 150px;
  }
}

.counter {
  margin-bottom: 5px;
  color: #333333;
  font-size: 38px;
  line-height: 38px;
}
@media screen and (min-width: 992px) {
  .counter {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 73px;
  }
}
.counter ~ p {
  font-size: 18px;
  line-height: 32px;
}
@media screen and (min-width: 992px) {
  .counter ~ p {
    font-size: 28px;
    line-height: 32px;
  }
}

.feedback {
  background: url(img/feedback.png) no-repeat center center;
  padding: 50px 16px;
  height: 545px;
}
@media screen and (min-width: 992px) {
  .feedback {
    height: 900px;
    padding: 50px 100px;
  }
}

.quote {
  color: #c5c5c5;
  font-size: 14px;
  line-height: 18px;
}
.quote_symbol {
  margin-bottom: 16px;
  height: 32px;
  width: 32px;
}
@media screen and (min-width: 992px) {
  .quote_symbol {
    margin: 50px 30px 0 0;
    height: 120px;
    width: 120px;
  }
}
.quote_p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .quote_p {
    font-size: 32px;
    line-height: 56px;
    margin-bottom: 50px;
  }
}
.quote_info p {
  color: #c5c5c5;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  .quote_info p {
    font-size: 28px;
    line-height: 56px;
  }
}
.quote_text {
  color: #fff;
}
@media screen and (min-width: 992px) {
  .quote {
    font-size: 28px;
    line-height: 56px;
    height: 900px;
  }
}

.splide__arrow {
  opacity: 1 !important;
  background: transparent;
  top: auto;
  bottom: 0;
  width: auto;
  height: auto;
  transform: none;
}
.splide__arrow img {
  width: 50px;
  height: 8px;
}
@media screen and (min-width: 768px) {
  .splide__arrow img {
    width: 215px;
  }
}
.splide__pagination {
  bottom: 0;
}
.splide__pagination__page {
  width: 16px;
  height: 1px;
  border-radius: 0%;
  color: #888888;
  opacity: 1;
  margin: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 992px) {
  .splide__pagination__page {
    width: 50px;
  }
}
.splide__pagination__page.is-active {
  width: 32px;
  transform: none;
}
@media screen and (min-width: 992px) {
  .splide__pagination__page.is-active {
    width: 100px;
  }
}

.portfolio_title {
  margin-bottom: 20px;
  color: #333333;
  font-weight: 400;
  overflow: hidden;
  padding: 50px 0 0;
}
@media screen and (min-width: 992px) {
  .portfolio_title {
    padding: 200px 0 0;
  }
}
.portfolio_text {
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .portfolio_text {
    font-size: 32px;
    line-height: 50px;
    color: #333333;
    margin-bottom: 50px;
  }
}
.portfolio .nav {
  margin-bottom: 30px;
}
.portfolio .nav-link {
  color: #555555;
  margin-right: 30px;
  font-size: 12px;
  line-height: 20px;
  padding: 0;
  border-radius: 0%;
}
@media screen and (min-width: 992px) {
  .portfolio .nav-link {
    font-size: 20px;
    line-height: 42px;
  }
}
.portfolio .nav-link.active {
  font-weight: 600;
  border-bottom: 2px solid #333333;
  color: #333333;
  background-color: transparent;
}
.portfolio_card {
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .portfolio_card {
    margin-bottom: 100px;
  }
}
.portfolio_card_image {
  margin: 0 -12px;
}
@media screen and (min-width: 992px) {
  .portfolio_card_image {
    margin: 0;
  }
}
.portfolio_card_title {
  margin: 20px 0 12px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .portfolio_card_title {
    margin: 30px 0 20px;
  }
}
.portfolio_card_square {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}
@media screen and (min-width: 992px) {
  .portfolio_card_square {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}
.portfolio_card_location {
  font-size: 14px;
  line-height: 20px;
  color: #888888;
  margin-bottom: 16px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .portfolio_card_location {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 20px;
  }
}
.portfolio_card_btn {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600px;
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #333333;
}
@media screen and (min-width: 992px) {
  .portfolio_card_btn {
    font-size: 20px;
    line-height: 42px;
  }
}

.marquee-section {
  position: relative;
  background: #897163;
  overflow: hidden;
  height: 80px;
}
@media screen and (min-width: 992px) {
  .marquee-section {
    height: 170px;
  }
}
.marquee-section p {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  line-height: 80px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .marquee-section p {
    font-size: 60px;
    line-height: 170px;
  }
}
.marquee-section p .arrow {
  margin: 0 30px;
  width: 50px;
  height: 8px;
  background: url(img/showAllArrowSm.svg) no-repeat center;
}
@media screen and (min-width: 992px) {
  .marquee-section p .arrow {
    height: 38px;
    background: url(img/showAllArrowBig.svg) no-repeat center;
  }
}

.marquee-div {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  -webkit-animation: move-left-to-right linear 12.5s infinite;
          animation: move-left-to-right linear 12.5s infinite;
}

.tehObsluga {
  margin: 50px 0;
}
@media screen and (min-width: 992px) {
  .tehObsluga {
    margin: 100px 0;
  }
}
.tehObsluga_img img {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .tehObsluga_img img {
    width: auto;
    height: 100%;
  }
}
.tehObsluga_block {
  position: relative;
  top: -45px;
  margin: 0 16px;
  width: auto;
  background: #333;
}
@media screen and (min-width: 1200px) {
  .tehObsluga_block {
    top: 0px;
    margin: 0;
    width: 41.66666667%;
  }
}
.tehObsluga_text {
  padding: 130px 16px 50px;
}
@media screen and (min-width: 992px) {
  .tehObsluga_text {
    margin: auto 50px 100px;
  }
}
.tehObsluga_text > * {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .tehObsluga_text > * {
    font-size: 28px;
    line-height: 50px;
  }
}
.tehObsluga_free {
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tehObsluga_free {
    font-size: 54px;
    line-height: 50px;
    margin-top: 50px;
  }
}
.tehObsluga_arrow {
  width: 50px;
  height: 6px;
}
@media screen and (min-width: 768px) {
  .tehObsluga_arrow {
    width: 120px;
    height: 16px;
  }
}

.tour {
  margin-bottom: 50px;
}
.tour_title {
  text-transform: uppercase;
  margin: 50px 0 24px;
}
@media screen and (min-width: 992px) {
  .tour_title {
    margin: 200px 0 20px;
  }
}
.tour_img {
  margin: 24px -12px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1400px) {
  .tour_img {
    height: 800px;
  }
}
.tour_img img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .tour_img {
    margin: 100px 0px;
  }
}
.tour_text {
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 768px) {
  .tour_text {
    font-size: 24px;
    line-height: 38px;
  }
}
@media screen and (min-width: 992px) {
  .tour_text {
    font-size: 32px;
    line-height: 50px;
  }
}
.tour_btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 16px;
  color: #fff;
  background: #333333;
  border: none;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .tour_btn {
    padding: 12px 20px;
    font-size: 18px;
  }
}
.tour_arrow {
  position: absolute;
  right: 16px;
  top: 0;
}
@media screen and (min-width: 1200px) {
  .tour_arrow {
    height: 215px;
  }
}

@media screen and (min-width: 992px) {
  .why_us {
    padding: 100px 0 0px;
  }
}
.why_us_row {
  padding-top: 370px;
}
@media screen and (min-width: 992px) {
  .why_us_row {
    padding-top: 70px;
  }
}
.why_us p {
  font-size: 32px;
  line-height: 42px;
}
@media screen and (min-width: 992px) {
  .why_us p {
    font-size: 60px;
    line-height: 73px;
  }
}
.why_us .container {
  min-height: 625px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .why_us .container {
    min-height: 725px;
  }
}
.why_us_img1 {
  position: absolute;
  top: 105px;
  left: 16px;
  width: 170px;
}
@media screen and (min-width: 575px) {
  .why_us_img1 {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .why_us_img1 {
    width: 350px;
  }
}
@media screen and (min-width: 992px) {
  .why_us_img1 {
    position: static;
  }
}
@media screen and (min-width: 1400px) {
  .why_us_img1 {
    width: 500px;
  }
}
.why_us_img2 {
  position: absolute;
  top: 200px;
  right: 16px;
  width: 240px;
}
@media screen and (min-width: 575px) {
  .why_us_img2 {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .why_us_img2 {
    width: 370px;
  }
}
@media screen and (min-width: 992px) {
  .why_us_img2 {
    position: static;
  }
}
@media screen and (min-width: 1400px) {
  .why_us_img2 {
    width: 620px;
  }
}
.why_us_plan {
  position: absolute;
  top: 415px;
  right: 32px;
  width: 100px;
}
@media screen and (min-width: 575px) {
  .why_us_plan {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .why_us_plan {
    width: 200px;
  }
}
@media screen and (min-width: 992px) {
  .why_us_plan {
    top: 310px;
    right: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .why_us_plan {
    width: 325px;
    right: 550px;
  }
}
.why_us_arrow {
  width: 8px;
  height: 50px;
}

.features {
  background: #897163;
  padding: 50px 0;
}
@media screen and (min-width: 992px) {
  .features {
    padding: 100px 0;
  }
}
.features .row {
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .features .row {
    margin-bottom: 100px;
  }
}
.features p {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.features_img {
  max-width: 85%;
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .features_img {
    max-width: 100%;
    margin-bottom: 0;
  }
}
.features_text {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}
@media screen and (min-width: 992px) {
  .features_text {
    margin-left: 0;
  }
}

.prices {
  background: url(img/prices_bg.png) no-repeat, #f8f8f8;
  margin: 50px 0 0;
  padding: 24px 0 85px;
  z-index: 1;
}
@media screen and (min-width: 575px) {
  .prices {
    margin: 100px 0 0;
    padding: 0px 0 200px;
  }
}
@media screen and (min-width: 992px) {
  .prices {
    margin: 100px 0 0;
    padding: 0px 0 500px;
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    margin: 100px 0 0;
    padding: 0px 0 500px;
  }
}
.prices h3 {
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .prices h3 {
    margin-bottom: 50px;
  }
}
.prices_card {
  position: relative;
  z-index: 5;
  padding: 24px 16px 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
  .prices_card {
    padding: 30px 30px 50px;
    min-height: 900px;
  }
}
.prices_title {
  display: inline;
  flex-grow: 0;
  color: #897163;
  text-transform: uppercase;
  margin-bottom: 24px;
  border-bottom: 2px solid #333333;
}
@media screen and (min-width: 992px) {
  .prices_title {
    margin-bottom: 50px;
  }
}
.prices_item {
  margin-bottom: 24px;
  line-height: 32px;
}
@media screen and (min-width: 992px) {
  .prices_item {
    margin-bottom: 50px;
  }
}
.prices_cost {
  font-size: 72px;
  line-height: 88px;
  color: #897163;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .prices_cost {
    font-size: 82px;
    line-height: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .prices_cost {
    font-size: 100px;
  }
}
.prices_btn {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 44px;
  color: white;
  background: #897163;
  margin: 24px 0;
  border: none;
}
@media screen and (min-width: 992px) {
  .prices_btn {
    font-size: 18px;
    line-height: 56px;
  }
}
.prices_download {
  color: #333;
  background: white;
  border: 1px solid #333333;
}
@media screen and (min-width: 992px) {
  .prices_download {
    font-size: 18px;
    line-height: 56px;
  }
}
.prices_download img {
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .prices .row > div:nth-child(1) {
    position: relative;
    top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .prices .row > div:nth-child(2) {
    position: relative;
    top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .prices .row > div:nth-child(3) {
    position: relative;
    top: 200px;
  }
}
.prices_photo {
  position: absolute;
  left: 28px;
  bottom: -85px;
  z-index: 2;
  width: 170px;
}
@media screen and (min-width: 575px) {
  .prices_photo {
    width: 300px;
    left: 28px;
    bottom: -150px;
  }
}
@media screen and (min-width: 992px) {
  .prices_photo {
    width: 500px;
    left: 100px;
    bottom: -400px;
  }
}

.about_us {
  background: url(img/about_us_bg.png) no-repeat;
  background-size: 200%;
  padding: 24px 16px 50px;
}
@media screen and (min-width: 992px) {
  .about_us {
    padding: 250px 100px 100px;
    background-size: 100%;
  }
}
.about_us .container {
  padding: 24px 16px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 992px) {
  .about_us .container {
    padding: 50px;
  }
}
.about_us_title {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .about_us_title {
    margin-bottom: 30px;
  }
}
.about_us_subtitle {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .about_us_subtitle {
    margin-bottom: 30px;
  }
}
.about_us_text {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .about_us_text {
    margin-bottom: 30px;
  }
}
.about_us_more {
  font-size: 14px;
  line-height: 24px;
  display: inline;
  text-decoration: none;
  color: #897163;
  border-bottom: 2px solid #897163;
}
.about_us_more:hover {
  color: #897163;
  border-bottom: 2px solid #897163;
}
@media screen and (min-width: 992px) {
  .about_us_more {
    font-size: 20px;
    line-height: 42px;
  }
}

@media screen and (min-width: 992px) {
  .example {
    padding-bottom: 50px;
  }
}
.example_title {
  line-height: 55px;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .example_title {
    line-height: 100px;
    margin: 100px 0 20px;
  }
}
.example_text {
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .example_text {
    font-size: 32px;
    line-height: 50px;
  }
}
.example_video {
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .example_video {
    margin-bottom: 50px;
  }
}
.example_video_b {
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .example_video_b {
    margin-bottom: 50px;
  }
}
.example_arrow {
  width: 8px;
  height: 50px;
  position: absolute;
  right: 12px;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .example_arrow {
    height: 200px;
  }
}

.design {
  padding: 24px 0;
  background-color: #333333;
}
@media screen and (min-width: 992px) {
  .design {
    padding: 100px 0;
  }
}
.design_title {
  color: white;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .design_title {
    margin-bottom: 20px;
  }
}
.design_text {
  color: white;
  margin-bottom: 50px;
}
@media screen and (min-width: 992px) {
  .design_text {
    margin-bottom: 100px;
    width: 60%;
    font-size: 32px;
    line-height: 50px;
  }
}
.design h4 {
  color: white;
  font-weight: 400;
}
.design_template_title {
  position: absolute;
  width: 300px;
  padding: 16px 24px;
  background: #333333;
  opacity: 0.8;
}
@media screen and (min-width: 992px) {
  .design_template_title {
    width: 480px;
    font-size: 30px;
    line-height: 50px;
    padding: 30px 50px;
    background: #333333;
    opacity: 0.8;
  }
}
@media screen and (min-width: 1400px) {
  .design_template_title {
    width: 680px;
    font-size: 60px;
    line-height: 80px;
    padding: 30px 100px;
    background: #333333;
    opacity: 0.8;
  }
}
.design .architecture_img {
  margin-left: 16px;
}
.design .architecture_title {
  bottom: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 1px solid #FCFCFC;
}
@media screen and (min-width: 992px) {
  .design .architecture_img {
    margin-right: 0;
    margin-left: auto;
    width: 70%;
  }
  .design .architecture_title {
    bottom: 50px;
    left: 0;
    right: auto;
    border-left: 1px solid #FCFCFC;
  }
}
@media screen and (min-width: 1400px) {
  .design .architecture_title {
    bottom: 175px;
    left: 0;
  }
}
.design .repair_title {
  bottom: -28px;
  left: 20px;
  border-right: 1px solid #FCFCFC;
}
@media screen and (min-width: 992px) {
  .design .repair_img {
    width: 70%;
  }
  .design .repair_title {
    display: flex;
    justify-content: end;
    bottom: 50px;
    right: 0;
    left: auto;
  }
}
@media screen and (min-width: 1400px) {
  .design .repair_title {
    bottom: 175px;
  }
}
.design .ordered_img {
  margin-left: 16px;
}
.design .ordered_title {
  bottom: -28px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-left: 1px solid #FCFCFC;
}
@media screen and (min-width: 992px) {
  .design .ordered_img {
    margin-right: 0;
    margin-left: auto;
    width: 70%;
  }
  .design .ordered_title {
    bottom: 50px;
    left: 0;
    right: auto;
    border-left: 1px solid #FCFCFC;
  }
}
@media screen and (min-width: 1400px) {
  .design .ordered_title {
    width: 790px;
    bottom: 175px;
    left: 0;
  }
}
.design_arrow {
  width: 8px;
  height: 50px;
  position: absolute;
  right: 12px;
  bottom: -15px;
}
@media screen and (min-width: 575px) {
  .design_arrow {
    bottom: -30px;
  }
}
@media screen and (min-width: 992px) {
  .design_arrow {
    height: 120px;
    right: auto;
    left: -6px;
    bottom: -150px;
  }
}

.callback {
  padding: 50px 0;
  overflow: hidden;
  background: url(img/callback.png) no-repeat;
  background-position: 12px 100px;
  background-size: 100%;
}
@media screen and (min-width: 576px) {
  .callback {
    background-position: 32px 0px;
  }
}
@media screen and (min-width: 768px) {
  .callback {
    background-position: 100px -100px;
  }
}
@media screen and (min-width: 992px) {
  .callback {
    padding: 100px 0;
    background-position: 100px 100px;
  }
}
@media screen and (min-width: 1200px) {
  .callback {
    background-position: 325px -100px;
  }
}
.callback_form {
  margin-top: 250px;
  padding: 24px 16px;
  background: white;
  box-shadow: 0px 8.20574px 20.5144px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
  .callback_form {
    padding: 50px;
  }
}
.callback .form {
  margin-top: 20px;
}
.callback .form_input {
  color: #888888;
  font-size: 12px;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #897163;
  padding: 4px;
  margin-bottom: 24px;
}
.callback .form_input::-moz-placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_input::placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #897163;
}
@media screen and (min-width: 1200px) {
  .callback .form_input {
    border-bottom: 2px solid #897163;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 32px;
  }
  .callback .form_input::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_input::placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_input:focus {
    border-bottom: 2px solid #897163;
  }
}
.callback .form_textarea {
  color: #888888;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #897163;
  border-left: 1px solid #897163;
  padding: 4px;
  margin-bottom: 24px;
}
.callback .form_textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_textarea::placeholder {
  font-size: 12px;
  line-height: 16px;
  color: #888888;
  padding-bottom: 8px;
}
.callback .form_textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #897163;
  border-left: 1px solid #897163;
}
@media screen and (min-width: 1200px) {
  .callback .form_textarea {
    border-bottom: 2px solid #897163;
    border-left: 2px solid #897163;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 32px;
  }
  .callback .form_textarea::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_textarea:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_textarea::placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .callback .form_textarea:focus {
    border-bottom: 2px solid #897163;
    border-left: 2px solid #897163;
  }
}
.callback .form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #897163;
  color: white;
  border: none;
  font-size: 14px;
  line-height: 44px;
  text-transform: uppercase;
}

.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #333;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1400px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
.footer_logo {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
}
.footer_text {
  color: #fff;
  font-size: 12px;
}
@media screen and (min-width: 992px) {
  .footer_text {
    font-size: 16px;
  }
}
.footer .col-12 {
  margin-bottom: 50px;
}
.footer_title {
  color: #999;
  margin-bottom: 20px;
}
.footer_list {
  list-style-type: none;
  padding: 0;
}
.footer_item {
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .footer_item {
    font-size: 16px;
  }
}
.footer_item_dark {
  color: #999;
  padding-left: 12px;
}
@media screen and (min-width: 992px) {
  .footer_item_dark {
    font-size: 16px;
  }
}
.footer_link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .footer_link {
    font-size: 18px;
  }
}
.footer_link:hover {
  color: #897163;
}
.footer_btn {
  color: #FFFFFF;
  background: #333333;
  border: 2px solid #897163;
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 26px;
}
.footer_bottom {
  color: #999;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 24px;
}
.footer_plan {
  position: absolute;
  top: 96px;
  right: -120px;
  width: 210px;
}
@media screen and (min-width: 992px) {
  .footer_plan {
    top: 160px;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer_plan {
    width: 260px;
    top: 180px;
  }
}
@media screen and (min-width: 1400px) {
  .footer_plan {
    width: 310px;
    top: 180px;
  }
}/*# sourceMappingURL=main.css.map */