//key frames
@keyframes spin { 
  100% { 
    transform: rotate(360deg);
  }
}


@keyframes lineMove {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes move-left-to-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

//mixins

@mixin dashed_line($height, $color) {
  width: 1px;
  height: $height;
  overflow: hidden;
  line {
    stroke: $color;
    stroke-width: 5px;
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 100;
    animation: lineMove 8s linear infinite;
  }
  @media screen and (min-width: 992px) {      
    line {
      stroke-dashoffset: 1000;
      stroke-dasharray: 20, 20;
      animation: lineMove 25s linear infinite;
    }      
  }  
}


@mixin vl($width, $height, $bg-color, $origin, $top, $right, $bottom, $left) {
  position: absolute;
  width: $width;
  height: $height;
  background-color: $bg-color;
  transform-origin: $origin;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;     
}


@mixin dashed_circle($color) {
  position: absolute;  
  width: 100px;
  height: 100px;
  z-index: 10;  
  @media screen and (min-width: 768px) {
    width: 200px;
    height: 200px;
  }   
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 370px;
  }   
  
  svg {
    width: 100%;
    height: 100%;
    animation: spin 40s linear infinite;
  }

  circle {  
  stroke-width: 1;
  stroke-dasharray: 5, 5;
  fill: none;
  stroke: $color;
  }  
}  

//animated letters


[data-inviewport="scale_down"] { 
  transform-origin: top center;
  transition: 2s;
  transform: scaleY(0.1);
}
[data-inviewport="scale_down"].is-inViewport { 
  transform-origin: top center;
  transform: scaleY(1);
}

[data-inviewport="scale_up"] { 
  transform-origin: bottom left;
  transition: 2s;
  transform: scaleY(0.1);
}
[data-inviewport="scale_up"].is-inViewport { 
  transform-origin: bottom left;
  transform: scaleY(1);
}

[data-inviewport="scale_center"] { 
  transform-origin: center center;
  transition: 2s;
  transform: scaleY(0.1);
}
[data-inviewport="scale_center"].is-inViewport { 
  transform-origin: top left;
  transform: scaleY(1);
}

//animated vertical lines

.vl{
  &_header{

    &_light{
      @media screen and (min-width: 992px) { 
        @include vl(1px, 100%, #333,top center, auto , auto , 0, 180px);    
        z-index: -1;                
      }
    }

    &_bold{
      @include vl(2px, 100%, #333,top center, 0 , auto , 0, 12px); 
      
      @media screen and (min-width: 992px) { 
        @include vl(2px, 100%, #333, 0 265px, 0 , auto , 0, 532px);                    
      }

      @media screen and (min-width: 1200px) { 
        @include vl(2px, 100%, #333,top center, 0 , auto , 0, 712px);                    
      }

      @media screen and (min-width: 1400px) { 
        @include vl(3px, 100%, #333,top center, 0 , auto , 0, 690px);                    
      }

      @media screen and (min-width: 1490px) { 
        @include vl(3px, 100%, #333,top center, 0 , auto , 0, 861px);                    
      }

      @media screen and (min-width: 1490px) { 
        @include vl(3px, 100%, #333,top center, 0 , auto , 0, 891px);                    
      }      
      
    }    
  }
  &_portfolio{
    &_bold{
      @include vl(3px, 80px, #333, bottom center, 0 , auto , 0, 160px); 
      
      @media screen and (min-width: 768px) { 
        @include vl(4px, 80px, #333, bottom center, 0 , auto , 0, 235px);                    
      }

      @media screen and (min-width: 992px) { 
        @include vl(5px, 245px, #333, bottom center, 0 , auto , 0, 237px);                     
      }

      @media screen and (min-width: 1200px) { 
        @include vl(5px, 245px, #333, bottom center, 0 , auto , 0, 385px);                      
      }   
      
    }
  }

  &_techobsluga{
    @include vl(1px, 400px, #fff,bottom center, auto , auto , 192px, 16px);     
    opacity: 0.6; 
    @media screen and (min-width: 768px) { 
      bottom: 350px;
    } 
    @media screen and (min-width: 1200px) { 
      height: 100px;
      bottom : auto;
      top: 0;
    } 
  }

  &_why_us{
    @include vl(1px, 100px, #333,top center, 31px , auto , auto, 73px);  
    z-index: -1;
    @media screen and (min-width: 768px) {
      top: 10px;
      left: 74px;
      width: 2px;
      }
    @media screen and (min-width: 992px) {
      left: 128px;
      top: 14px;
      width: 4px;
      height: 450px;
    }
  }
}


//play buttons

.btn{
  &_round {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;   
    // overflow: hidden;
    border: none;    
    border-radius: 50%;
    width: 210px;
    height: 210px;
    &::before{
      content: "";      
      border-radius: 999px;
      position: absolute;      
      width: 260px;
      height: 260px;    
      background: url(../dist/img/btn_outter.svg) no-repeat;
      background-size: 100%;
      animation-name: spin;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @media screen and (min-width: 768px) {        
        width: 370px;
        height: 370px;        
      } 
    }
    @media screen and (min-width: 768px) {
      width: 285px;
      height: 285px;      
    }        
  }

  &_big-play{
    &::before{
      width: 150px;
    height: 150px;
    background: url(../dist/img/btn_outter_dark.svg) no-repeat;
    @media screen and (min-width: 992px) {       
        width: 370px;
        height: 370px;    
        background-size: contain;    
      }     
    }      
  }
  
}

//dashed vl


// <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid"><line x1="0" y1="0" x2="0" y2="100%" /></svg>
                         
            

.dashed-line{
  &_portfolio{
    @include dashed_line(500px, #999);    
    position: absolute;
    z-index: -1;
    right: 16px;
    top: 1650px;

    @media screen and (min-width: 425px) {
      top: 1800px;
      height: 600px;
      }
    @media screen and (min-width: 556px) {
      top: 2100px;
      height: 600px;
    }
    @media screen and (min-width: 768px) {
      top: 2500px;
      height: 600px;
    }
    @media screen and (min-width: 992px) {
      top: auto;
      bottom: 0;
      right: 90px;
      height: 1500px;
    }
  }
  &_why_us{
    @include dashed_line(500px, #999);
    position: absolute;
    right: 16px;
    bottom: 0;
    z-index: -1;
    @media screen and (min-width: 575px) {
      right: 50px;
    }
    @media screen and (min-width: 992px) {
      right: 100px;
    }
    @media screen and (min-width: 1490px) {
      right: 200px;
    }
  }

  &_features{
    @include dashed_line(1000px, #fff);    
    position: absolute;
    z-index: -1;
    left: 12px;
    top: 100px;
    @media screen and (min-width: 575px) {
      height: 1200px;      
    }
    @media screen and (min-width: 768px) {
    left: 14px;     
    }
    @media screen and (min-width: 992px) {
      top: -100px;
      left: auto;
      right: 100px;     
    }
    @media screen and (min-width: 1200px) {
      height: 1600px;    
    }    
    @media screen and (min-width: 1490px) {
      right: 200px;
    }
  }
  &_design{
    &_left{
      @include dashed_line(200px, #FCFCFC);    
      position: absolute;
      z-index: -1;
      left: 16px;
      top: 250px;
      @media screen and (min-width: 575px) {
        top: 350px;
      }
      @media screen and (min-width: 992px) {
        top: 550px;
        left: 400px;
      }
      @media screen and (min-width: 1200px) {
        top: 650px;
        left: 400px;
      }
      @media screen and (min-width: 1490px) {
        left: 600px;
      }
    }
    &_right{
      @include dashed_line(300px, #FCFCFC);    
      position: absolute;
      z-index: -1;
      right: 16px;
      top: 0px;
      @media screen and (min-width: 992px) {
        top: -100px;
        height: 500px;
      }
    }
  }
  &_callback{
    &_white{
      @include dashed_line(400px, #fff);    
      position: absolute;      
      right: 40px;
      top: 0px;
      @media screen and (min-width: 575px) {
        right: 120px;
      }
      @media screen and (min-width: 935px) {
        height: 520px;
      }
      @media screen and (min-width: 992px) {
        height: 900px;
        right: 200px;
      }
      @media screen and (min-width: 1490px) {
        height: 1200px;
        right: 400px;
      }
    }
    &_dark{
      @include dashed_line(100px, #333);    
      position: absolute;
      z-index: -1;
      right: 40px;
      bottom: 0px;
      @media screen and (min-width: 575px) {
        right: 120px;
      }
      @media screen and (min-width: 935px) {
        height: 500px;
      }
      @media screen and (min-width: 992px) {        
        right: 200px;
      }
      @media screen and (min-width: 1490px) {       
        right: 400px;
      }
    }
  }
  

}


//dashed circles


//<svg><circle cx="50%" cy="50%" r="49%"></circle></svg>   


.dashed-circle{  
  &_portfolio{
    @include dashed_circle(#999);
    right: 16px;
    top: 770px;
    @media screen and (min-width: 768px) {
      top: 1050px;
    }
    @media screen and (min-width: 768px) {
      top: 400px;
      right: -50px;
    }
    @media screen and (min-width: 1500px) {
      top: 300px;
      right: -160px;
    }
  }
  
  &_features{
    @include dashed_circle(rgba(255, 255, 255, 0.8));
    top: -50px; 
    right: 20px;
    @media screen and (min-width: 575px) {
      
      right: 50px;
    }
    @media screen and (min-width: 992px) {
      top: 150px;
      right: auto;
      left: -100px;
    }
    @media screen and (min-width: 1200px) {
      top: 100px;           
    }
    @media screen and (min-width: 1492px) {
      top: 180px;
      left: -170px;   
    }
  }

  &_design{
    display: none;
    @media screen and (min-width: 575px) {
      display: block;
      @include dashed_circle(rgba(255, 255, 255, 0.8));  
      left: 20px; 
      top: 50%;  
    }
  }

  &_callback{
    @include dashed_circle(#333); 
    top: 70px;
    left: 16px;
    @media screen and (min-width: 992px) {
      
      left: 20px; 
      top: 100px;  
    }
  }
}
